<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week1</title>

    <link rel="stylesheet" href="./assets/style/reset.css">
    <link rel="stylesheet" href="./assets/style/style.css">
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    

   




    <div id="cart">
        <!-- {{ text }} -->
        <!-- {{ products }} -->
        <h1>Week1</h1>
        <div class="cart_bg">
            <div class="cart_result">
                <h2>單一產品細節</h2>
                <div class="cart_yes" v-if="temp.title"><!-- v-if="temp.title" -->
                    <div class="cart_img">   
                        <div class="cart_img_big">
                            <img v-bind:src="temp.imageUrl" v-bind:alt="temp.title">
                        </div>
        
                        <div class="description">
                            <div class="description_list">
                                <h3>{{ temp.title }}</h3>
                                <span class="category">{{ temp.category }}</span>
                            </div>
                            <div class="description_list">
                                商品描述：{{ temp.description }}
                            </div>
                            <div class="description_list">
                                商品內容：{{ temp.content }}
                            </div>
                            <div class="description_list">
                                <div class="price"> $ {{ temp.price }} </div>
                                <div class="origin_price">$ {{ temp.origin_price }}</div>個 / 元
                            </div>
                        </div>
        
                        <div class="cart_img_small">
                            <div class="list" v-for="(image_item , key) in temp.imagesUrl">
                                <img v-if="image_item" v-bind:src="image_item" v-bind:alt="temp.title" class="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart_no" v-else-if="!temp.title"> <!-- v-else-if="!temp.title" -->
                    <p>請選擇一個商品查看</p>
                </div>
            </div>


            <div class="cart_table">
                <h2>產品列表</h2>
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>產品名稱</th>
                            <th>原價</th>
                            <th>售價</th>
                            <th>是否啟用</th>
                            <th>查看細節</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, key) in products">
                            <td> {{ item.title }} </td>
                            <td> $ {{ item.origin_price }} </td>
                            <td> $ {{ item.price }} </td>
                            <td>
                                <span v-if="item.is_enabled" class="enable_yes">啟用</span>
                                <span v-else class="enable_no">不啟用</span>
                            </td>
                            <td> 
                                <button type="button" v-on:click="temp=item">
                                    查看細節
                                </button> 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <td colspan="5">
                            目前有 {{ products.length }} 項產品
                        </td>
                    </tfoot>
                </table>
                
            </div>
        </div>
        				
    </div>



<script type="module">

    const { createApp } = Vue;
    //console.log(Vue);
    const app = {
        data() {
            return {
                temp: {},
                products: [
                {
                    category: "甜甜圈",
                    content: "尺寸：14x14cm",
                    description: "濃郁的草莓風味，中心填入滑順不膩口的卡士達內餡，帶來滿滿幸福感！",
                    id: "-L9tH8jxVb2Ka_DYPwng",
                    is_enabled: 1,
                    origin_price: 150,
                    price: 99,
                    title: "草莓莓果夾心圈",
                    unit: "個",
                    num: 10,
                    imageUrl: "https://images.unsplash.com/photo-1583182332473-b31ba08929c8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fGRvbnV0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60",
                    imagesUrl: [
                    "https://images.unsplash.com/photo-1626094309830-abbb0c99da4a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2832&q=80",
                    "https://images.unsplash.com/photo-1559656914-a30970c1affd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTY0fHxkb251dHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                    ]
                },
                {
                    category: "蛋糕",
                    content: "尺寸：6寸",
                    description: "蜜蜂蜜蛋糕，夾層夾上酸酸甜甜的檸檬餡，清爽可口的滋味讓人口水直流！",
                    id: "-McJ-VvcwfN1_Ye_NtVA",
                    is_enabled: 16,
                    origin_price: 1000,
                    price: 900,
                    title: "蜂蜜檸檬蛋糕",
                    unit: "個",
                    num: 1,
                    imageUrl: "https://images.unsplash.com/photo-1627834377411-8da5f4f09de8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80",
                    imagesUrl: [
                    "https://images.unsplash.com/photo-1618888007540-2bdead974bbb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=987&q=80",
                    ]
                },
                {
                    category: "蛋糕",
                    content: "尺寸：6寸",
                    description: "法式煎薄餅加上濃郁可可醬，呈現經典的美味及口感。",
                    id: "-McJ-VyqaFlLzUMmpPpm",
                    is_enabled: 1,
                    origin_price: 700,
                    price: 600,
                    title: "暗黑千層",
                    unit: "個",
                    num: 15,
                    imageUrl: "https://images.unsplash.com/photo-1505253149613-112d21d9f6a9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDZ8fGNha2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60",
                    imagesUrl: [
                    "https://images.unsplash.com/flagged/photo-1557234985-425e10c9d7f1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA5fHxjYWtlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60",
                    "https://images.unsplash.com/photo-1540337706094-da10342c93d8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fGNha2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                    ]
                }
                ]
            }
        },
    }

    
    
    createApp(app).mount("#cart");

</script>




</body>
</html>